body {
    background-color: burlywood;
    font-family: 'Open Sans Condensed', sans-serif;
}
.header {
    text-align: center; }

.left{
    float:left;
width: 600px;
}    
.content{
    margin-top: 100px;
}
.PATRICK_SUCK{
    display: inline-block
}
.clear{
    clear: both;
}